@{
    ViewData["Title"] = "Department Info";
}
<!-- StyleSheets -->
<link rel="stylesheet" href="/css/DepartmentInfo.css">

<h3 class="my-4 text-center" style="font-size: 40px;">
    @ViewData["DepartmentName"] Department
</h3>
<div style="margin-top: 50px;"></div>
<div class="cards-container">
    <a href="@Url.Action("Details", "Department", new { id = ViewBag.ID })">
        <div class="card" style="background-image: url('https://th.bing.com/th/id/OIP.iPBdUoB-EYhsWAcuKKIjAQHaE8?rs=1&pid=ImgDetMain');">
    <div class="card-content">
                <p class="card-title">Department Courses</p>
                <p class="card-para">Academic subjects offered by the department, covering theoretical and practical knowledge</p>
            </div>
        </div>
    </a>
    <a href="@Url.Action("StudentsByDepartment", "Student", new { id = ViewBag.ID })">
        <div class="card" style="background-image: url('https://th.bing.com/th/id/OIP.TGXiIDJlIVgSN9X_9wCyHAHaE7?rs=1&pid=ImgDetMain');">
            <div class="card-content">
                <p class="card-title">Students in the Department</p>
                <p class="card-para">Individuals enrolled in the department's programs, pursuing specialized studies</p>
            </div>
        </div>
    </a>
    <a href="@Url.Action("ChartDataDepartment", "Department", new { departmentId = ViewBag.ID})">
        <div class="card" style="background-image: url('https://th.bing.com/th/id/OIP._Bq1_rlKTUlpLVR5j6ewuwHaE8?rs=1&pid=ImgDetMain');">
            <div class="card-content">
                <p class="card-title">Student Results Statistics</p>
                <p class="card-para">Data showcasing student performance in exams and courses</p>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Details", "Faculty", new { id = ViewBag.FacultyId })">
        <div class="card" style="background-image: url('https://th.bing.com/th/id/OIP.sjW0KjFv2sPM9bj5dH00mAHaFS?rs=1&pid=ImgDetMain');">
    <div class="card-content">
                <p class="card-title">Faculty Information</p>
                <p class="card-para">Brief details about the faculty, its vision, and academic offerings</p>
            </div>
        </div>
    </a>
</div>